
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }



#feature {
   
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(166, 177, 240);
    padding-left: 100px;
    align-items: center;
    height: 300px;
}
.lisa {
    padding-top: 20px;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.mona {
    padding-top: 20px;
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: rgb(130, 148, 248);
    width: 500px;
    
}

.img{
    border-radius: 30%;
}
h1{
    text-align: center;
}
h2{
    text-align: center;
}

  #feature .fe-box {  display: flex;
   
    padding-left: 100px;
    
   
}
.bubs{
    background-color: #c3c9e9;
    width: 700px;
    height: 400px;
}


#product1 {
    background-color: rgb(230, 234, 251);
    height: 400px;
    
   
}
.sam{
    display: flex ;
    align-items: space-between;
    border-radius: 20px;

}
.bobo {
    border: 10px;
    border-radius: 20px;
}
.kante{
    margin-top: -100px;
    margin-left: 600px;
    border-radius: 20px;
}
.hero-text {
    position: relative;
    height: 30px;
    width: 30%;
   margin-top: -30px;
    
    padding: 2rem 4rem;
    background-color: rgb(130, 148, 248);
    text-align: center;
}
.h8{
    margin-top: -20pxpx;
    border-radius: 10px;
    font-size: 10px;
    color: rgb(79, 79, 246);
}
.dadi{
    margin-top: 10px;
}
.ibro{
    margin-top: 20px;
    align-items: flex-end;
    border-radius: 10px;
}
.amad{
    margin-top: 50px;
    border-radius: 20%;
    margin-left: 10px;
    text-align: center;
    display: flex;
    padding-left: 20px;
    padding-right: 5px;
}
footer{
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display:flex ;
    flex-direction: column;
    
    align-items: flex-start;
    margin-bottom: 20px;
}
.social-icons {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .social-icon:hover {
    background-color: #333;
  }
.h1{
    color: blue;
}
img {
    border-radius: 8px;
  }
footer h4{
    font-size: 20px;
    padding-bottom:10px ;
}

footer p{
    font-size: 15px;
    margin: 0 0 8px 0;
}

footer a{
    text-decoration: none;
    margin: 0 0 8px 0;
    color: #222;
    margin-bottom: 10px;
}
footer .follow{
    color: #606063;
    padding-right: 4px;
    cursor:pointer;
}

footer .follow i{
    color: #606063;
    padding-right: 4px;
    cursor:pointer;
}
footer .install .row img{
border: 1px solid #088178;
border-radius: 6px;
}

footer .install img{
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
color: #e42107;
}

footer .copyright{
    width: 100%;
    text-align: center;
}
.section-p1{
    margin-top: 30px;
}

@media(max-width:799px){
    .section-p1{
        padding: 20px;
        margin-top: 20px;
    }
    #header{
       
        padding: 10px 30px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 32px ;
    }
    #hero {
    
        padding: 0 20px;
        background-position: 55%;
    
    
    
    }
    #feature .febox{
        width: 115px;
        margin: 0 0 1px 0;
    }
}
footer .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

footer .social-media > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

footer .social-media a + a {
    margin-left: 1.4em;
}

footer .social-media a,
footer .social-media svg {
    width: 35px;
    height: 35px;
}

footer .social-media a .symbol {
    fill: var(--color-white);
    transition: .3s;
}

footer .social-media a:hover .symbol {
    fill: var(--color-secondary);
}

footer .social-media a .bg {
    fill: var(--color-secondary);
    transition: .3s;
}

footer .social-media a:hover .bg {
    fill: var(--color-white);
}